<html>
  <body>
    <h1>Editing Event</h1>

    <form action="/events/:id/edit" method="patch">
      Event name:<br>
      <input type="text" name="name" value=""><br>
      Date:<br>
      <input type="text" name="date" value=""><br>
      Hour:<br>
      <input type="text" name="hour" value=""><br>
      Description:<br>
      <input type="text" name="description" value=""><br>
      Local:<br>
      <input type="text" name="local" value=""><br>
      Repeating Frequency:<br>
      <!-- dia todo, algumas horas, pontual -->
      <input type="text" name="repeating_frequency" value=""><br>
      <br>
      <input type="submit" value="Submit">
    </form>

    <%= link_to 'Show', @event %> |
    <%= link_to 'Back', events_path %>
  </body>
</html>
