<html>
  <body>
    <!-- <p id="notice"><%#= notice %></p> -->
    <h1>Listing Events</h1>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Hour</th>
          <th>Description</th>
          <th>Local</th>
          <th>Repeating frequency</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    </table>

    <br>
    <a href="/events/new">New Event</a>
    <!-- <%#= link_to 'New Event', new_event_path %> -->
  </body>
</html>
